<div class="body"></div>
	<div class="grad"></div>
	<div class="header">
			<div>UAMI<span>Planner</span></div>
	</div>
		<br>
	<div class="login">
				<h2 id="alerta"></h2>
				<input type="text" placeholder="username" name="user"[(ngModel)]='usuario'><br>
				<input type="password" placeholder="password" name="password" [(ngModel)]='contrasena'><br>
				<input type="button" value="Login" (click)="showPassword()">
                <input type="button" value="Registro" (click)="Registro()">
	</div>
