<div class="container mt-5">
    <h1> UAMPlaner</h1>
    <h2>Esta herramienta esta diseñada para ayudar a los equipos de desarrollo de sofware a reeplanear sus sprints, debido a que los equipos de desarrollo se enfrentan siempre a eventos disruptivos
        . Esta herrameinta te dara opciones viables para que los equipos de desarrollo cumplan sus objetivos en el tiempo que se necesite y con la mejor estrategia.
    </h2><br>
    <h2>Esta herramienta esta diseñada con un algoritmo genetico el cual es que nos ayuda a tener las mejores replaneaciones para nuestros usuarios.</h2>
    <h2>A continuacion observaras un pequeño video demostrativo de la herramienta:</h2>
    <iframe width="620" height="315" src="assets/Imagenes/plannerVideo.mp4" ></iframe>
</div>
